@font-face {
  font-family: "Segoe UI Semilight";
  src: url("fonts/segoe_ui_semilight.ttf") format("truetype");
}

*
{
    font-family: "Segoe UI Semilight", Tahoma, sans-serif;
}

body {
    color: white;
    margin: 0;
    min-height: 100vh;
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.logo
{
    width: 48px;
    height: 48px;
    margin-left: 12px;
    margin-right: 12px;
    transition: all 0.2s ease;
}

.logo:hover
{
    opacity: 0.8;
    transform: rotate(5deg);
    cursor: pointer;
}

.title
{
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

.header
{
    top: 0;
    z-index: 10;
    position: sticky;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background: linear-gradient(
        to bottom,      
        rgba(127, 127, 127, 0.9) 1%,
        rgba(74, 74, 74, 0.9) 25%,
        rgba(0, 0, 0, 0.9) 50%,
        rgba(26, 26, 26, 0.9) 100%
    );
    
    backdrop-filter: blur(5px);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    border-bottom: .5px solid #4e4e4e8e;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
    z-index: 1;


}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 80px);
    width: 270px;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: rgba(30, 30, 30, 0.9);
    padding-top: 20px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-right: 0.5px solid #ffffff6f;
    overflow-y: auto;
}

.buttonSide {
    height: 30px;
    width: 225px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    margin-bottom: 8px;
    background: linear-gradient(to bottom, 
    #4a4a4a 0%, 
    #414040 25%,
    #171717 60%,
    #0a0a0a 100%
    );
    border-top: 1px solid #898989;
    border-bottom: 1px solid #232323;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 0 px 0 rgba(255, 255, 255, 0.1),
                0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
}

.card {
    background: linear-gradient(
        to bottom,
        rgba(74, 74, 74, 0.8) 0%,
        rgba(43, 43, 43, 0.8) 50%,
        rgba(26, 26, 26, 0.8) 100%
    );

    transition: transform 0.25s;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    border-bottom: 1px solid #000;
    padding: 30px;
    border-radius: 13px;
    margin-top: 30px;
}

.card:hover
{
    transform: translateY(-3px);
}

.cardTitle
{
    font-size: 28px;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.cardDescription
{
    min-height: 120px;
}

.button
{
    background: linear-gradient(to bottom, 
        #c8ffc5 0%, 
        #1fbf24 55%,
        #009a05 55%, 
        #457a28 100%
    );
    text-align: center;
    font-size: 16px;
    padding: 15px;
    cursor: pointer;
    color: white;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.069);
    border-radius: 5px;
    border: none;
}

.button:hover
{
    opacity: 0.8;
}

